<h1 class="espacamento">Períodos Letivos</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Data do Início</th>
      <th>Data do Fim</th>
      <th width="80">Ações</th>
    </tr>

  <% @semesters.each do |semester| %>
    <tr>
      <td><%= semester.name %></td>
      <td><%= format_date_br semester.start_date %></td>
      <td><%= format_date_br semester.end_date %></td>
      <td>
        <%= link_to edit_semester_path(semester), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to semester, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_semester_path, class: 'btn btn-info' %>
</div>