<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campus %>
    <%= f.text_field :campus, autofocus: 'autofocus' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', institutions_path, class: 'btn btn-info' %>
  </div>
<% end %>
