<h1>Instituições</h1>

<table class="table table-hover">
  <tr>
    <th>Campus</th>
    <th width="80">Ações</th>
  </tr>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.campus %></td>
    <td>
      <%= link_to edit_institution_path(institution), title: 'Editar' do %><i class="icon-edit"></i><% end %>
      <%= link_to institution, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_institution_path, class: 'btn btn-info' %>
