<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local, autofocus: 'autofocus' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', locals_path, class: 'btn btn-info' %>
  </div>
<% end %>
