<h1>Locais</h1>

<table class="table table-hover">
  <tr>
    <th>Local</th>
    <th width="80">Ações</th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.local %></td>
    <td>
      <%= link_to edit_local_path(local), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to local, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_local_path, class: 'btn btn-info' %>
