<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='espacamento'>
  <div class="field">
    <%= f.hidden_field :request_id %>
  </div>

  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.collection_select :vehicle_id, Vehicle.where(deleted: false), :id, :vehicle_type, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar',confirmations_path,class: 'btn btn-info' %>
  </div>
</div>
<% end %>
