<p id="notice"><%= notice %></p>
<div class='espacamento'>
  <p>
    <b>Nome:</b>
    <%= @travel.request.confirmations.first.user.name%>
  </p>

  <p>
    <b>Objetivo:</b>
    <%= @travel.request.goal%>
  </p>
  <p>
    <b>Justificativa:</b>
    <%= @travel.request.justification%>
  </p>

  <p>
    <b>Veiculo:</b>
    <%= @travel.vehicle.vehicle_type%>
  </p>

  <div class="actions">
      <%= link_to 'Voltar', confirmations_path,class: 'btn btn-info' %>
      <%= link_to 'Add Motorista',add_driver_path(@travel.id),class: 'btn btn-info' %>
  </div>
</div>