<h1 class="espacamento">Feriados</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Descrição</th>
      <th>Dia</th>
      <th>Mês</th>
      <th>Fixo</th>
      <th>Data</th>
      <th width="80">Ações</th>
    </tr>

  <% @holidays.each do |holiday| %>
    <tr>
      <td><%= holiday.description %></td>
      <td><%= holiday.day %></td>
      <td><%= holiday.month %></td>
      <td><%= frendly_boolean holiday.fixed %></td>
      <td><%= format_date_br holiday.date %></td>
      <td>
          <%= link_to edit_holiday_path(holiday), title: 'Editar' do %><i class="icon-edit"></i><% end %>
          <%= link_to holiday, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_holiday_path, class: 'btn btn-info' %>
</div>