<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#"><%= @space.location_type.name %> <%= @space.name %></a>
    <ul class="nav">
      <li><%= link_to 'Nova reserva', reserve_of_physical_spaces_reservas_new_path(@id) %></li>
      <% mes, ano = mes_anterior(@mes,@ano) %>
      <li><%= link_to 'Mês anterior', calendario_path(@id,mes,ano)%></li>
      <% mes, ano = mes_seguinte(@mes,@ano) %>
      <li><%= link_to 'Mês seguinte', calendario_path(@id,mes,ano) %></li>
      <li><%= link_to 'Voltar', reserve_of_physical_spaces_espacos_path %></li>
    </ul>
  </div>
</div>

<h1>Reservas de <%= months[@mes-1] %> de <%= @ano %></h1>
<br>
<div class="row">
<div class="span11">
  
 <table class="tabela">
 	<tr>
 		<th>Horário</th>
      <% for i in (1..@qtd_dias_mes) %>
 		    <th class="aumentar-largura"><center><%= i %></center></th>
      <% end %>

 	</tr>
  <% for i in (0..15) %>
  <tr>
    <th><%= schedules[i] %></th>
    <% for j in (0..@qtd_dias_mes-1) %>
        <% x = tipo_objeto @array[i][j] %>
      	<td class="<%= x %>">
        <% if x == 'reserva-usuario' %>
          <!-- Link para abrir a janela de dialogo modal -->
          <a href="#reserve_<%= @array[i][j].id %>" role="button" data-toggle="modal"><i class="icon-user"></i></a>
          <!-- janela de dialogo modal -->
          <div id="reserve_<%= @array[i][j].id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel_<%= @array[i][j].id %>">Detalhes</h3>
            </div>
            <div class="modal-body">
              <p><strong>Usuário:</strong> <%= @array[i][j].user.name %></p>
              <p><strong>Evento:</strong> <%= @array[i][j].event %></p>
              <p><strong>Justificativa:</strong> <%= @array[i][j].justification %></p>
            </div>
          </div>
          <!-- fim da janela de dialogo modal -->
        <% end %>
        </td>
    <% end %>
  </tr>
  <% end %>
 </table>

</div>


<div class="span3">


<table class="tabela">
  <tr>
    <td><strong>Cor</strong></td>
    <td><strong>Significado</strong></td>
  </tr>
  <tr>
    <td class="feriado-recesso"></td>
    <td>Feriado/Recesso</td>
  </tr>
  <tr>
    <td class="alocacao-permanente"></td>
    <td>Reservas fixas</td>
  </tr>
  <tr>
    <td class="reserva-usuario"></td>
    <td>Reservas de usuários</td>
  </tr>
</table>

</div>
</div>