<% unless flash.empty? %>
  <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= flash[:error] unless flash[:error].nil? %></h3>
  </div>
<% end %>


<h1 class="espacamento">Editando reserva</h1>

<%= form_for @reserve_of_physical_space, url: update_reserve_path(@reserve_of_physical_space.id), method: 'post' do |f| %>

  <% if @reserve_of_physical_space.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @reserve_of_physical_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="espacamento">
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%# f.text_field :start_time %>
    <%= f.select :start_time, schedules_select, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.select :end_time, schedules_select, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :justification %>
    <%= f.text_area :justification, rows: 5 %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :space_id %>
  </div>
  <div class="field" >
    <%= f.hidden_field :reservation_status_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info'%>
    <%= link_to 'Cancelar', reserve_of_physical_spaces_path, class: 'btn btn-info' %>
  </div>
</div>
<% end %>


