<% x = DateTime.now %>
<h1 class="espacamento">Espaços Físicos</h1>
<div class="espacamento">
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Capacidade</th>
    <th>Tamanho</th>
    <th>Tipo do Local</th>
    <th>Ações</th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.capacity %></td>
    <td><%= space.size %></td>
    <td><%= space.location_type.name %></td>
    <td><%= link_to 'Reservar', calendario_path(space.id, x.month, x.year) %></td>
  </tr>
<% end %>
</table>
</div>
