<p id="notice"><%= notice %></p>
<div class="espacamento">
  <p>
    <b>Data:</b>
    <%= format_date_br @reserve_of_physical_space.date %>
  </p>

  <p>
    <b>Horário de Início:</b>
    <%= schedules[@reserve_of_physical_space.start_time] %>
  </p>

  <p>
    <b>Horário de Fim:</b>
    <%= schedules[@reserve_of_physical_space.end_time] %>
  </p>

  <p>
    <b>Evento:</b>
    <%= @reserve_of_physical_space.event %>
  </p>

  <p>
    <b>Justificativa:</b>
    <%= @reserve_of_physical_space.justification %>
  </p>

  <p>
    <b>Preço:</b>
    <%= @reserve_of_physical_space.price %>
  </p>

  <p>
    <b>Pagamento Confirmado:</b>
    <%= frendly_boolean @reserve_of_physical_space.payment_confirmed %>
  </p>

  <p>
    <b>Espaço:</b>
    <%= @reserve_of_physical_space.space.name %>
  </p>

  <p>
    <b>Status da Reserva:</b>
    <%= @reserve_of_physical_space.reservation_status.name %>
  </p>

  <%= link_to 'Voltar', reserve_of_physical_spaces_path, class: 'btn btn-info'  %>
</div>