<%= form_for(@function) do |f| %>
  <% if @function.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: 'autofocus' %>
  </div>
  <div class="field">
    <%= f.label :level %>
    <%= f.select :level, [['Nível 1', 1],['Nível 2', 2],['Nível 3', 3]] %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', functions_path, class: 'btn btn-info' %>
  </div>
<% end %>
