<h1>Funções</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th width="80">Ações</th>
  </tr>

<% @functions.each do |function| %>
  <tr>
    <td><%= function.name %></td>
    <td><%= function.level %></td>
    <td>
      <%= link_to edit_function_path(function), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to function, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_function_path, class: 'btn btn-info' %>