<%= form_for(@space) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row espacamento">
    <div class="span6">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :capacity %>
        <%= f.number_field :capacity %>
      </div>
      <div class="field">
        <%= f.label :observations %>
        <%= f.text_area :observations, rows: 5 %>
      </div>
  </div>
  <div class="span6">
    <div class="field">
      <%= f.label :size %>
      <%= f.number_field :size %>
    </div>
    <div class="field">
      <%= f.label :price_local %>
      <%= f.text_field :price_local %>
    </div>

      <div class="field">
        <%= f.label :location_type_id %>
        <%= f.collection_select :location_type_id, LocationType.all, :id, :name, prompt: true %>
      </div>
      <div class="actions">
        <%= f.submit 'Salvar', class: 'btn btn-info' %>
        <%= link_to 'Cancelar', spaces_path, class: 'btn btn-info' %>
      </div>
  </div>
</div>
<% end %>
