<h1 class="espacamento">Espaços</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Observações</th>
      <th>Tamanho</th>
      <th>Preço</th>
      <th width="80">Ações</th>
    </tr>

  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.capacity %></td>
      <td><%= space.observations %></td>
      <td><%= space.size %></td>
      <td><%= space.price_local %></td>
      <td>
          <%= link_to edit_space_path(space), title: 'Editar' do %><i class="icon-edit"></i><% end %>
          <%= link_to space, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_space_path, class: 'btn btn-info' %>
</div>