<%= form_for(@daily_function_local) do |f| %>
  <% if @daily_function_local.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @daily_function_local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :daily_id %>
    <%= f.collection_select :daily_id, Daily.all, :id, :daily, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :function_id %>
    <%= f.collection_select :function_id, Function.all, :id, :name_level, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :local_id %>
    <%= f.collection_select :local_id, Local.all, :id, :local, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', daily_function_locals_path, class: 'btn btn-info' %>
  </div>
<% end %>
