<h1>Diárias de locais e funções</h1>

<table class="table table-hover">
  <tr>
    <th>Diária</th>
    <th>Função</th>
    <th>Local</th>
    <th width="80">Ações</th>
  </tr>

<% @daily_function_locals.each do |daily_function_local| %>
  <tr>
    <td><%= daily_function_local.daily.daily %></td>
    <td><%= daily_function_local.function.name %></td>
    <td><%= daily_function_local.local.local %></td>
    <td>
      <%= link_to edit_daily_function_local_path(daily_function_local), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to daily_function_local, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_daily_function_local_path, class: 'btn btn-info' %>
