<h1>Listando Mensalidade</h1>
<br>
<table class="table table-hover">
  <tr>
    <th>Mes do ano</th>
    <th>Quantidade</th>
    <th>Motorista</th>
    <th>Viagem</th>
    <th>Opções</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monthlies.each do |monthly| %>
  <tr>
    <td><%= monthly.data %></td>
    <td><%= monthly.qtde %></td>
    <td><%= monthly.driver %></td>
    <td><%= monthly.travel %></td>
    <td>
        <%= link_to monthly, title: 'Visualizar' do  %><i class="icon-user"></i><%end%>
        <%= link_to 'Destroy', monthly, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monthly', new_monthly_path %>
