<h1>Setores</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th width="80">Ações</th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
    <td><%= sector.name %></td>
    <td>
      <%= link_to edit_sector_path(sector), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to sector, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_sector_path, class: 'btn btn-info' %>
