<h1>Adicionando Participantes</h1>
<hr>

<%= form_for @participant, url: add_participants_path(@id), method: "post" do |f| %>
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
    
    <%= f.submit 'Buscar', class: "btn btn-info" %>
<%end%>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>CPF</th>
    <th>Ações</th>
  </tr>

<% @participants.each do |p| %>
  <tr>
    <td><%= p.user.name %></td>
    <td><%= p.user.registration %></td>
    <td><%= p.user.cpf %></td>
    <td>
        
        <%= link_to p, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i><%end%>  
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Voltar', requests_path, class: "btn btn-info" %>