<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span5">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: 'autofocus' %>
    </div>
    <div class="field">
      <%= f.label :siape %>
      <%= f.text_field :siape %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="span5">
    <div class="field">
      <%= f.label :institution_id %>
      <%= f.collection_select :institution_id, Institution.all, :id, :campus, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :sector_id %>
      <%= f.collection_select :sector_id, Sector.all, :id, :name, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :role_id %>
      <%= f.collection_select :role_id, Role.all, :id, :name, prompt: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Salvar', class: 'btn btn-info' %>
      <%= link_to 'Cancelar', users_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
