<h1>Usuários</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>SIAPE</th>
    <th>E-mail</th>
    <th>Telefone</th>
    <th>Ativo</th>
    <th width="80">Ações</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.siape %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= frendly_boolean user.active %></td>
    <td>
        <%= link_to user, title: 'Exibir detalhes' do %> <i class="icon-list"></i> <% end %>
        <%= link_to edit_user_path(user), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to user, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_user_path, class: 'btn btn-info' %>
