<div class="espacamento">
   <h1>Entrar</h1>
</div>

<hr>


<div class="espacamento">
  
<%= form_for @user, url: user_authentication_path do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email, autofocus: 'autofocus' %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit 'Entrar', class: 'btn btn-info' %>


<% end %>

</div>