<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>SIAPE:</strong>
  <%= @user.siape %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.phone %>
</p>


<p>
  <strong>Instituição:</strong>
  <%= @user.institution.campus %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @user.sector.name %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @user.role.name %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= frendly_boolean @user.active %>
</p>

<%= link_to 'Atribuir funções', user_durations_path(@user.id), class: 'btn btn-info' %>
<%= link_to 'Gerar senha provisória', '#', class: 'btn btn-info' %>
<%= link_to 'Editar', edit_user_path(@user.id), class: 'btn btn-info' %>
<%= link_to 'Desativar/Desativar', '#', class: 'btn btn-info' %>
<%= link_to 'Deletar', @user ,method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-info' %>
<%= link_to 'Voltar', users_path, class: 'btn btn-info' %>
