<%= form_for(@recess) do |f| %>
  <% if @recess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recess.errors.count, "error") %> prohibited this recess from being saved:</h2>

      <ul>
      <% @recess.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="espacamento">
    <div class="field">
      <%= f.label :begin %>
      <%= f.text_field :begin, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= f.label :end %>
      <%= f.text_field :end, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="actions">
      <%= f.submit 'Salvar', class: 'btn btn-info' %>
      <%= link_to 'Cancelar', recesses_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
