<h1 class="espacamento">Recessos</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Início</th>
      <th>Fim</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>

  <% @recesses.each do |recess| %>
    <tr>
      <td><%= format_date_br recess.begin %></td>
      <td><%= format_date_br recess.end %></td>
      <td><%= recess.description %></td>
      <td>
        <%= link_to edit_recess_path(recess), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to recess, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Remover' do %><i class="icon-trash"></i><% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_recess_path, class: 'btn btn-info' %>
</div>