<h1 class='espacamento'>Listing travel_drivers</h1>
<hr>

<div class='espacamento'>
  <%= form_for @travel_driver  do |f| %>
      <%= f.label 'Motorista' %>
      <%= f.collection_select :driver_id, Driver.where(deleted: false), :id, :name, prompt: true %>
      <%= f.hidden_field :travel_id %>
      
      <%= f.submit 'Adicionar', class: "btn btn-info" %>
      <%= link_to 'Voltar',confirmations_path ,class: "btn btn-info" %>
  <%end%>
  <table class= "table table-hover">
    <tr>
      <th>Viagem</th>
      <th>Motorista</th>
      <th>Opções</th>
      <th></th>
      <th></th>
    </tr>

  <% @travel_drivers.each do |travel_driver| %>
    <tr>
      <td><%= travel_driver.travel.request.goal %></td>
      <td><%= travel_driver.driver.name %></td>
      <td> 
        <%= link_to travel_driver,method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class= "icon-trash"></i><%end%>
      </td>
    </tr>
  <% end %>
  </table>
</div>