<h1>Status de reserva</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th width="80">Ações</th>
  </tr>

<% @reservation_statuses.each do |reservation_status| %>
  <tr>
    <td><%= reservation_status.name %></td>
    <td>
      <%= link_to edit_reservation_status_path(reservation_status), title: 'Editar' do %><i class="icon-edit"></i><% end %>
      <%= link_to reservation_status, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_reservation_status_path, class: 'btn btn-info' %>
