<% unless flash.empty? %>
  <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= t(flash[:error]) unless flash[:error].nil? %></h3>
      <h3><%= t(flash[:success]) unless flash[:success].nil? %></h3>
  </div>
<% end %>

<h1><%= t 'titles.restricted_access' %></h1>
<hr>
<%= form_for @administrator, url: administrator_authentication_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, autofocus: 'autofocus' %>

  <%= f.label :password %>
  <%= f.password_field :password %> <br>

  <%= f.submit t('buttons.enter'), class: 'btn btn-info' %>
<% end %>