<h1>Cargos</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th width="80">Ações</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td>
      <%= link_to edit_role_path(role), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to role, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_role_path, class: 'btn btn-info' %>
