<%= form_for(@fixed_reserf) do |f| %>
  <% if @fixed_reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fixed_reserf.errors.count, "error") %> prohibited this fixed_reserf from being saved:</h2>

      <ul>
      <% @fixed_reserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.number_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :week_day %><br />
    <%= f.text_field :week_day %>
  </div>
  <div class="field">
    <%= f.label :space_id %><br />
    <%= f.text_field :space_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br />
    <%= f.text_field :semester_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
