<h1 class="espacamento">Reservas Fixas - Espaços Físicos</h1>
<h2 class="espacamento">Período Letivo: <%= @semester.name%></h2>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Tamanho</th>
      <th>Tipo do Local</th>
      <th>Ações</th>
    </tr>

  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.capacity %></td>
      <td><%= space.size %></td>
      <td><%= space.location_type.name %></td>
      <td><%= link_to 'Reservas', alocation_permanents_space_path(space.id,@semester_id) %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to 'Voltar', alocation_permanents_path, class: 'btn btn-info' %>
</div>