<h1 class="espacamento">Reservas Fixas - Períodos Letivos</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Data do Início</th>
      <th>Data do Fim</th>
      <th width="80">Ações</th>
    </tr>

  <% @semesters.each do |semester| %>
    <tr>
      <td><%= semester.name %></td>
      <td><%= semester.start_date %></td>
      <td><%= semester.end_date %></td>
      <td>
        <%= link_to 'Espaços', alocation_permanents_espacos_path(semester.id) %>
      </td>
    </tr>
  <% end %>
  </table>

</div>

