<h1 class="espacamento">Reservas Fixas</h1>
<h2 class="espacamento"><%= @espaco.location_type.name%>: <%= @espaco.name %></h2>
<h2 class="espacamento"> Período Letivo: <%= @semester.name%></h2>
 <div class="espacamento">
   <table class="table">
   	<tr>
   		<th>Horário</th>
   		<th><center>Dom</center></th>
  	  <th><center>Seg</center></th>
  	  <th><center>Ter</center></th>
  	  <th><center>Qua</center></th>
  	  <th><center>Qui</center></th>
  	  <th><center>Sex</center></th>
  	  <th><center>Sáb</center></th>

   	</tr>
    <% for i in (0..15) %>
    <tr>
      <th><%= schedules[i] %></th>
      <% for j in (0..6) %>
        	<td><center><%= @array[i][j] %></center></td>
      <% end %>
    </tr>
    <% end %>
   </table>

   <%= link_to 'Editar', alocation_permanents_editar_path(@id,@semester.id), class: 'btn btn-info' %>
   <%= link_to 'Voltar', alocation_permanents_espacos_path(@semester.id), class: 'btn btn-info' %>
</div>