<%= form_for(@confirmation) do |f| %>
  <% if @confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirmation.errors.count, "error") %> prohibited this confirmation from being saved:</h2>

      <ul>
      <% @confirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :approver %><br />
    <%= f.number_field :approver %>
  </div>
  <div class="field">
    <%= f.label :disapproval_justification %><br />
    <%= f.text_area :disapproval_justification %>
  </div>
  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.text_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', confirmations_path, class: 'btn btn-info'%>
  </div>
<% end %>
