<h1 class="espacamento">listando Confirmações</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Data</th>
      <th>Usuario</th>
      <th>Objetivo</th>
      <th>Destino</th>
      <th>Participantes</th>
      <th>Justificativa</th>
      <th>Opções</th>
      <th></th>
      <th></th>
    </tr>

  <% @requests.each do |request| %>
    <tr class="<%= customizar(request) %>">
      <td><%= format_date_br request.date %></td>
      <td><%= request.user.name %></td>
      <td><%= request.goal %></td>
      <td><%= request.destination %></td>
      <td><%= request.participants.count %></td>
      <td>
        <!-- Link para abrir a janela de dialogo modal -->
        <a href="#justification_<%= request.id %>" role="button" data-toggle="modal">Exibir</a>
        <!-- janela de dialogo modal -->
        <div id="justification_<%= request.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel_<%= request.id %>">Justificativa</h3>
          </div>
          <div class="modal-body">
            <p><%= request.justification %></p>
          </div>
        </div>
        <!-- fim da janela de dialogo modal -->
      </td>
      <td>
          <%= link_to approve_request_path(request.id), title: 'Aprovar' do %><i class="icon-ok" ></i><%end%>
          <%= link_to non_approve_form_request_path(request.id), title: 'Não Aprovar' do %><i class="icon-remove"></i><%end%>
          <%if customizar(request) == 'success' %>
            <%= link_to confirmation_travel_path(request.id), title: 'Cadastrar viagem' do %><i class="icon-plane" ></i><%end%>
          <%end%>
    </tr>
  <% end %>
  </table>
</div>