<h1 class="espacamento">Justificativa de desaprovação</h1>
<hr>
<div class="espacamento">
<%= form_for @confirmation, url: non_approve_request_path(@request.id), method: "post" do |f| %>
  <% if @confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirmation.errors.count, "error") %> prohibited this confirmation from being saved:</h2>

      <ul>
      <% @confirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Justificativa %><br />
    <%= f.text_area :disapproval_justification, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', confirmations_path, class: 'btn btn-info'%>
  </div>
</div>
<% end %>