<h1 class="espacamento">Listando Motoristas</h1>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
      <th></th>
    </tr>

  <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.name %></td>
      <td>
        <%= link_to edit_driver_path(driver), title: 'Editar' do  %><i class="icon-edit"></i><%end%>
        <%= link_to driver, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i><%end%>  
      </td>
    </tr>
  <% end %>
  </table>


<%= link_to 'Novo', new_driver_path, class: "btn btn-info" %>
</div>