<h1 class="espacamento">Veículos</h1>
<div class = "espacamento">
  <table class="table table-hover">
    <tr>
      <th>Placa</th>
      <th>Tipo</th>
      <th>Número de passageiros</th>
      <th>Ações</th>
    </tr>

  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.carrier_plate %></td>
      <td><%= vehicle.vehicle_type %></td>
      <td><%= vehicle.number_of_persons %></td>
      <td>
        <%= link_to edit_vehicle_path(vehicle), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to vehicle, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_vehicle_path, class: 'btn btn-info' %>
</div>