<p id="notice"><%= notice %></p>

<p>
  <b>Carrier plate:</b>
  <%= @vehicle.carrier_plate %>
</p>

<p>
  <b>Type:</b>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <b>Number of persons:</b>
  <%= @vehicle.number_of_persons %>
</p>



