/*
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 50px;
}

.sair-do-contaniner {
	position: absolute;
	left: 0;
}

.empurrar-botao-para-baixo {
	margin-top: 650px;
}

.feriado-recesso {
  background: #FF4500;
}

.alocacao-permanente {
  background: #d3d3d3;
}

.reserva-usuario {
  background: #ffd700;
}

.tabela {
  border: 1px #ddd solid;
}

.tabela tr {
  border: 1px #ddd solid;
}

.tabela td {
  border: 1px #ddd solid;
}

.tabela th {
  border: 1px #ddd solid;
}

.aumentar-largura {
  width: 20px;
}

.espacamento {
  padding-left: 20px;
  padding-right: 20px;
}

.warning a {
  color: #fff;
}

.warning a:hover {
  color: #000;
}

.success a {
  color: #fff;
}

.success a:hover {
  color: #000;
}
