<h1>Diárias</h1>

<table class="table table-hover">
  <tr>
    <th>Diária</th>
    <th width="80">Ações</th>
  </tr>

<% @dailies.each do |daily| %>
  <tr>
    <td><%= daily.daily %></td>
    <td>
      <%= link_to edit_daily_path(daily), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to daily, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo', new_daily_path, class: 'btn btn-info' %>
