<%= form_for(@location_type) do |f| %>
  <% if @location_type.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @location_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="espacamento">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: 'autofocus' %>
    </div>
    <div class="actions">
      <%= f.submit 'Salvar', class: 'btn btn-info' %>
      <%= link_to 'Cancelar', location_types_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
