<h1 class="espacamento">Tipos de Locais</h1>
<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th width="80">Ações</th>
    </tr>

  <% @location_types.each do |location_type| %>
    <tr>
      <td><%= location_type.name %></td>
      <td>
        <%= link_to edit_location_type_path(location_type), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to location_type, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'Novo', new_location_type_path , class: 'btn btn-info' %>
</div>