<ul class="nav">
  <li><%= link_to 'Inicio', root_path %></li>
  <li><%= link_to 'Minhas solicitações', requests_path %></li>
  <li><%= link_to 'Solicitações', confirmations_path %></li>
  <li><%= link_to 'Motoristas', drivers_path %></li>
  <li><%= link_to 'Veículos', vehicles_path %></li>
  <li><%= link_to 'Mensalidades', '#' %></li>
  <li><%= link_to 'Reserva de espaço', reserve_of_physical_spaces_path %></li>
  <li><%= link_to 'Solicitação de diárias', '#' %></li>
</ul>

<ul class="nav pull-right">
  <li><%= link_to "Olá, #{current_user.name}", '#' %></li>
  <li><%= link_to 'Sair', user_logout_path %></li>
</ul>