<ul class="nav">
  <li><%= link_to 'Inicio', root_path %></li>
  <li><%= link_to 'Tipo de Espaço', location_types_path %></li>
  <li><%= link_to 'Espaços', spaces_path %></li>
  <li><%= link_to 'Recessos', recesses_path %></li>
  <li><%= link_to 'Feriados', holidays_path %></li>
  <li><%= link_to 'Periodos Letivos', semesters_path %></li>
  <li><%= link_to 'Reservas Fixas', alocation_permanents_path %></li>
  <li><%= link_to 'Aprovar Reservas', aprovacoes_path %></li>
</ul>

<ul class="nav pull-right">
  <li><%= link_to "Olá, #{current_user.name}", '#' %></li>
  <li><%= link_to 'Sair', user_logout_path %></li>
</ul>