<!DOCTYPE html>
<html>
<head>
  <title>Transparencia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="espacamento">
      <%= link_to "Transparência", '#', class: "brand" %>
      <%= render 'layouts/navbar_default' unless administrator_authenticated? || user_authenticated? %>
      <%= render 'layouts/navbar_admin' if administrator_authenticated? %>
      <%= render 'layouts/navbar_patrimonio' if navbar_chefe_setor_patrimonio %>
      <%= render 'layouts/navbar_transporte' if navbar_chefe_setor_transporte %>
    </div>
  </div>
</div>

<%= yield %>

<hr>
<div class="row espacamento">
  <footer>
    <p class="pull-left espacamento">Desenvolvido por GDIE (Grupo de Desenvolvimento de Informática e Eletrônica)</p>
    <p class="pull-right">&copy; Transparência UFPI - CSHNB 2013</p>
  </footer>
</div>

</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      language: 'pt-BR'
    });
  });
</script>